.action:not(:first-child) {
	border-bottom-left-radius: 0;
	border-left: none;
	border-top-left-radius: 0;
}

.action:not(:last-child) {
	border-bottom-right-radius: 0;
	border-right: none;
	border-top-right-radius: 0;
}
