.root {
	--primary-color: #0d6efd;
	--border-radius: 6px;
	--btn-border-radius: var(--border-radius);
	--btn-border-style: solid;
	--btn-border-width: 1px;
}

.root {
	background-color: var(--primary-color);
	border-radius: var(--btn-border-radius);
	border-style: var(--btn-border-style);
	border-width: var(--btn-border-width);
	color: #fff;
}
